* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #fff3e0;
}

h1,
h3 {
  color: #f57f17;
}

h2,
h4 {
  color: #ffb04c;
}

h3 {
  margin-top: 36px;
  padding-bottom: 8px;
  border-bottom: 2px solid #9e9e9e;
  border-radius: 10%;
}

h4 {
  margin-bottom: 6px;
}

a {
    color: #007bff;
}

a:visited {
    color: #6f42c1;
}

p {
  margin-top: 0;
}

.container {
  background-color: #fafafa;
  width: 90%;
  margin: 32px auto;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 1%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.header {
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40vh;
  margin-bottom: 24px;
}

.header p {
  margin-bottom: 8px;
}

.picture {
  width: 30%;
}

#face {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.namecard {
  width: 60%;
}

.content {
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col1 {
  width: 20%;
}

.col2 {
  width: 70%;
  padding-left: 100px;
}

.skill-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.skill-scale {
  display: flex;
  flex-direction: row;
}

.skill-scale div {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border: 1px solid #f57f17;
  border-radius: 50%;
}

.fill {
  background-color: #f57f17;
}

.nofill {
  background-color: none;
}

.work-group p,
.education-group p {
  font-style: italic;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .container {
    border-radius: 2%;
    padding: 48px 12px;
  }

  .header {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .namecard {
    width: 100%;
  }

  .content {
    flex-direction: column;
  }

  .col1 {
    width: 100%;
  }

  .col2 {
    width: 100%;
    padding-left: 0;
  }
}
